<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    {{!-- Font Awesome --}}
    <link rel="stylesheet" href="font/css/fontawesome.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/fontawesome.min.css">

    {{!-- Font --}}
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;469;500;600;700&display=swap" rel="stylesheet">
    
    {{!-- CSS --}}
    <link rel="stylesheet" href="/css/style.css">
    
    {{!-- Boostrap --}}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Home Music</title>
</head>
<body>
    <div class="Hutech">
        {{!-- Header --}}
        {{> header}} {{!-- Dc nap tu partial/header --}}
        {{!-- Content --}}
        <div class="content">
            {{{body}}} {{!-- Dc nap tu layouts/main --}}
        </div>
         {{!-- Footer --}}
        {{> footer}}{{!-- Dc nap tu partial/footer --}}
    </div>
    
</body>
</html>