{{!-- Details --}}
<div class="Home">
    <div class="Home-container">
        <div class="breadcrumbs">
            <ul>
                <li><a href="#">Home</a></li>
                <li><i class="fa fa-caret-right icon-lane"></i></li>
                <li><a href="">Khóa học</a></li>
                <li><i class="fa fa-caret-right icon-lane"></i></li>
                <li><p class="details-title">Thanh Nhạc</p></li>
            </ul>
            </ul>
        </div>
     </div>
</div>
{{!-- Intro Details --}}
<div class="Intro">
    <div class="background-intro">
        <img src="../img/do-pixel-art-environment-background.jpg" alt="background intro">
        <div class="intro-content">
            <div class="rating">
                <div class="btn-intro">Free</div>
            </div>
            <div class="title-intro">
                <h2>Thanh Nhạc</h2>
            </div>
            <div class="information">
                <p>Người hướng dẫn: <a href="" class="instructor">Trần Thiên Thảo</a></p>
            </div>
            <div class="img-intro">
                <img src="../img/pexels-photo-3776557.jpeg" alt="">
            </div>
        </div>
    </div>
</div>