{{!-- Details --}}
<div class="Home">
    <div class="Home-container">
        <div class="breadcrumbs">
            <ul>
                <li><a href="#">Home</a></li>
                <li><i class="fa fa-caret-right icon-lane"></i></li>
                <li><a href="">Khóa học</a></li>
                <li><i class="fa fa-caret-right icon-lane"></i></li>
                <li><p class="details-title">Thanh Nhạc</p></li>
            </ul>
            </ul>
        </div>
     </div>
</div>
{{!-- Intro Details --}}
<div class="Intro">
    
</div>