{{!-- Header HomeMusic --}}
<header class="header">
    {{!-- top-navbar --}}
    <div class="topbar_container">
        <div class="topbar">
            <div class="phone"><span>Phone: 0966853790</span></div>
            <div class="social">
                <span>Follow Me: </span>
                    <ul class="icons">
                        <li><a href="#"><i class="fab fa-facebook-f fb"></i></a></li>
                        <li><a href="#"><i class="fab fa-instagram ins"></i></a></li>
                    </ul>
            </div>
        </div>
        {{!-- Lane --}}
        <hr class="lane">
    </div>
    {{!-- Container of navbar --}}
    <div class="headcontainer">
        <div class="head-tilte">
            <h2><a href="/" class="brand-name"><img src="../img/your-logo.png" alt="brand"></a></h2>
        </div>
        <div class="list-bar">
            <ul class="list-tile">
                <li><a href="#">Giới Thiệu</a></li>
                <li><a href="#">Câu Lạc Bộ</a></li>
                <li><a href="/khoahoc">Khoá Học Online</a></li>
                <li><a href="#">Liên kết đào tạo</a></li>
                <li><a href="#">Tin Tức</a></li>
                <li><a href="#">Liên hệ</a></li>
            </ul>
        </div>
        <div class="search">
            <input class="form-control typing" type="text" name="" placeholder="Search....">
            <div class="iconbtn">
                <i class="fa fa-search searchbtn"></i>
            </div>
        </div>
        <div class="account">
            <div class="background"></div>
            <a href="/dangnhap" class="user"><i class="fa fa-user">{{#if message}}
                <p id="alert-login"><i class="fas fa-exclamation-circle"></i> {{message}}</p>
            {{/if}}</i></a>
        </div>
    </div>
</header>