{{!-- Header HomeMusic --}}
<header class="header">
    {{!-- top-navbar --}}
    <div class="topbar_container">
        <div class="topbar">
            <div class="phone"><span>Phone: 0966853790</span></div>
            <div class="social">
                <span>Follow Me: </span>
                    <ul class="icons">
                        <li><a href="#"><i class="fab fa-facebook-f fb"></i></a></li>
                        <li><a href="#"><i class="fab fa-instagram ins"></i></a></li>
                    </ul>
            </div>
        </div>
        {{!-- Lane --}}
        <hr class="lane">
    </div>
    {{!-- Container of navbar --}}
    <div class="headcontainer">
        <div class="head-tilte">
            <h2><a href="#" class="brand-name"><img src="./img/your-logo.png" alt="brand"></a></h2>
        </div>
        <div class="list-bar">
            <ul class="list-tile">
                <li><a href="">Trang Chủ</a></li>
                <li><a href="">Khoá học</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Liên hệ</a></li>
            </ul>
        </div>
        <div class="search">
            <input class="form-control typing" type="text" name="" placeholder="Search....">
            <div class="iconbtn">
                <i class="fa fa-search searchbtn"></i>
            </div>
        </div>
        <div class="account">
            <div class="background"></div>
            <a href="" class="user"><i class="fa fa-user"></i></a>
        </div>
    </div>
</header>